@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Steve Earle 
   Date: Nov. 14th, 2017     
   
   Filename: jb_navicon.css
   
   This file contains styles used to control 
   a navicon menu.

*/


/* ===========
   Base Styles
   ===========
*/

a#navicon { 
  display: none; 
}



/* ===============================
   Mobile Devices: 0 to 480px 
   ===============================
*/

@media only screen and (max-width: 480px) {
  
  a#navicon { 
    display: block; 
}

  nav.horizontal ul { 
    display: none; 
}

  aside { 
    display: none; 
}

  a#navicon:hover+ul, nav.horizontal ul:hover { 
    display: block; 
}


   
}